@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --fonte-titulos: font-family: "Cormorant Garamond", serif;
    --cor-primaria: rgb(149, 38, 38);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Fonte */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul {
    list-style: none;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30em;
    padding: 1em;
}

.site-logo {
    margin-right: 12em;
}

.menu-list {
    display: flex;
    gap: 2em;
    align-items: center;
}

.menu-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--cor-primaria);
}

.login .menu-link {
    background-color: var(--cor-primaria);
    color: white;
    padding: 0.5em 0.8em;
    font-size: 1em;
    border-radius: 5px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title {
    position: absolute;
    padding: 1.5em 2em;
    background-color: var(--cor-primaria);
    color: whitesmoke;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(47, 46, 46, 0.471);
}

.home-bg-image {
    width: 100%;
}

.promotions-title {
    text-align: center;
    margin: 40px 0;
    font-size: 3em;
    color: var(--cor-primaria);
}

.promotions-images {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.promotions .image-item {
    width: 405px;
    height: 250px;
}

.image-item img {
    border-radius: 0 12px 12px 0;
}


/* ---------- CARDS ---------- */
.pai-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    padding:2em;
    gap: 3em;
}

.card {
    background-color: whitesmoke;
    width: 200px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 60%;
    height: 150px;
    border-radius: 12px;
    margin-left: 20%;
    margin-top: 5%;
}


.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

.card h1 {
    font-size: 1.2rem;
}

.card h2 {
    font-size: 0.9rem;
    color: #5c5c5c;
}

.card button {
    background-color: var(--cor-primaria);
    height: 2em;
    border: none;
    padding: 0.5em;
    width: 80%;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
}

.footer-container {
    background-color: #9b9393ce;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding: 2em;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-form-input {
    padding: 0.3em;
}

.footer-form-btn {
    background-color: #6a6464;
    border: none;
    padding: 0.3em;
    color: #fff;
    border-radius: 5px;
}